data/datacsv/train.csv
data/store-sales-time-series-forecasting


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Ignore Data
~/Desktop/Spiced/TimeSeriesProject-StoreSales/data/
data/datacsv/train.csv
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
